.banner-wrap{
    height: 90vh;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: $break-small) {
		height: 100vh;
        padding-top: 150px;
        margin-bottom: 100px;
	   }
    .home-slick-slider{
        height: 100%;
        .banner{
            height: 100%;
            display: flex;
            align-items: center;
            height: 100vh;
            @media screen and (max-width: $break-small) {
                flex-direction: column;
            }
            .banner-text{
                flex-direction: column;
                height: 100%;
                padding: 100px 30px 40px;
                animation: fadeOut 0.2s;
                @media screen and (max-width: $break-small) {
                    padding-top: 60px;
                }
                .banner-title{
                    h1{
                        text-shadow:-0.0375em -2px 0 #303030ad ;
                        @media screen and (max-width: $break-small) {
                            font-size: 24px;
                    
                           }
                    }
                }
                .price-button{
                    font-weight: 800;
                    font-size: 42px;
                   .price{
                    display: inline-block;
                        span{
                            font-size: 200;
                            font-size: 14px;
                            
                        }
                        
                   }
                   .fc-btn{
                        float: right;
                    }
                    
                }
            }
            .banner-image{
                transition: all 0.7s linear;
                .item-image-holder{
                    padding-bottom: 80%;
                    width: 50%;
                    margin: 0 auto;
                    transition: all 0.7s linear;
                    @media screen and (max-width: $break-small) {
                        padding-bottom: 100%;
                        width:100%;
                        margin: 0 auto;
                       }
                }
            }
            &.slick-active{
                .banner-text{
                    animation: fadeInUp 0.7s linear 1;
                }
                .banner-image{
                    transform: scale(1.5);
                    @media screen and (max-width:$break-small) {
                        transform: scale(1.1);
                    }
                }
            }
            &.banner-2{
                .banner-image{
                    .item-image-holder{
                        padding-bottom: 60%;
                        width: 80%;
                    }
                }
            }
        }
        
        .slick-dots{
            text-align: left;
            width: auto;
            left: 20%;
            bottom: 10%;
            @media screen and (max-width:$break-small) {
                left: auto;
                right: 5%;
            }
            li{
                width: 50px;
                @media screen and (max-width:$break-small) {
                  display: block;
                }
                button{
                    &:before{
                        content: "";
                        width: 50px;
                        height: 2px;
                        background-color: #ddd;
                        position: absolute;
                        opacity: 1;
                        margin: 0 0;
                        transition: all 0.6s linear;
                    }
                }
               &.slick-active{
                button{
                    &:before{
                      
                        background-color: $primary-color;
                        
                    }
                }
               }
            }
        }
    }
    &:after{
        
            content: "";
            position: absolute;
            background-image: linear-gradient(
        215deg, #52e8c4cc, transparent);
            border-radius: 50%;
            top: -10%;
            width: 60%;
            height: 100%;
            right: -20%;
            z-index: -1;
            background-size: cover;
        
        

    }
    
}

.cs-cat-section {
    .cs-cat-wrap{
    
        .cat-slider{
            .cat-single{
                display: flex;
                align-items: center;
                background-color: $secondary-color;
                padding:20px 0px;
                position: relative;
                .cat-img{
                    width: 50%;
                    position: relative;
                    .item-image-holder{
                        width: 60%;
                        padding-bottom: 80%;
                        margin: 0 auto;
                    }
                  
                }
                .cat-content{
                    width: 50%;
                    .fc-btn{
                        background-color:#eff4fa;
                        &:hover{
                            background-color: $primary-color;
                            color: white;
                            font-weight: 600;
                        }
                    }
                }
                .cat-price{
                    position: absolute;
                    width: 100px;
                    height: 40px;
                    top: 0;
                    right: 0%;
                    
                    color: white;
                    background-color: red;
                    line-height: 2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span{
                        display: block;
                        line-height: 2;
                    }
                }
                &:nth-child(2n){
                    background-color:#eff4fa;
                    .fc-btn{
                        background-color:$primary-color;
                        &:hover{
                            background-color: #eff4fa;
                            color: $primary-color;
                            font-weight: 600;
                        }
                    }
                }
            }
            .slick-dots{
                text-align: left;
                width: auto;
                left: 40%;
                bottom: -15%;
                @media screen and (max-width:$break-small) {
                    left: auto;
                    right: 5%;
                }
                li{
                    width: 50px;
                    @media screen and (max-width:$break-small) {
                      display: block;
                    }
                    button{
                        &:before{
                            content: "";
                            width: 50px;
                            height: 2px;
                            background-color: #ddd;
                            position: absolute;
                            opacity: 1;
                            margin: 0 0;
                            transition: all 0.6s linear;
                        }
                    }
                   &.slick-active{
                    button{
                        &:before{
                          
                            background-color: $primary-color;
                            
                        }
                    }
                   }
                }
            }
        }
    }
    
    
}
.cat-section{
    @include title;
    .cat-wrap{
        width: 85%;
        margin: 0 auto;
        .cat-single{
            
            background-color: white;
            position: relative;
            box-shadow: 2px 2px 10px 2px #ddd;
            padding: 20px;
            overflow: hidden;
            .item-image-holder{
                padding-bottom: 80%;
                background-color: white;
                width: 60%;
                margin: 0 auto;

            }
            &::after{
                content: "";
       

            }
         
            .cat-name{
                position: relative;
                z-index: 2;
                position: absolute;
                left: 0;
                top: 85%;
                width: 100%;
                transition: all 0.4s linear;
                height: 100%;
                background-color: #000;
                opacity: 0.5;
                text-align: center;
                padding: 15px;
                h3{
                    color: white;
                }
            }
            &:hover{
                .cat-name{
                    top: 0%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0.9;
                }
            }
            
        }
    }
}
.about-section{
    @include title;
    .about-wrap{
        display: flex;
        flex-direction: row-reverse;
        @media screen and (max-width: $break-small) {
            flex-direction: column-reverse;
       }
        .item-image-holder{
            padding-bottom: 100%;
            overflow: visible;
            box-shadow: 2px 2px 10px 2px #ddd;
            background-color: white
            // &::after{
            //     content: "";
            //     width: 100%;
            //     height: 100%;
            //     z-index: -1;
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     border: 2px solid #ddd;
            //   
            // }
        }
        .about-content{
            background-color: white;
            padding: 20px
        }
    }
}
.testimonial-section{
    background-color: $secondary-color;
    .testimonial-wrap{
        @include title;
        .section-content{
            
            .client-slider{
               
                .client-single{
                 padding: 10px;
                 margin-top: 30px;
                    .client-content{
                        padding: 30px;
                        background-color: white;
                        .entry-container{
                            display: flex;
                            .client-image{
                                width: 10%;
                                border-radius: 50%;
                                .item-image-holder{
                                    padding-bottom: 100%;
                                    border-radius: 50%;
                                }
                            }
                            .client-details{
                                margin-left: 20px;
                                h3{
                                    margin-bottom: 5px;
                                    font-size: 22px;
                                }
                                .rating{
                                    ul{
                                        margin-left: 0;
                                        li{
                                            display: inline-block;
                                            .fa{
                                                color: #f9d22f;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:focus{
                        outline: none;
                    }
                    &:active{
                        outline: none;
                    }
                }
                button{
                    &.slick-arrow{
                        top: 0%;
                        z-index: 999;
                        width: 45px;
                        height:45px;
                        box-shadow: 2px 2px 10px 2px #ddd;
                        background-color: white;
                        transition: all 0.3s linear;
                        border-radius: 50%;
                        background-repeat: no-repeat;
                        background-size:50%;
                        background-position: 50% 50%;
                        
                        &.slick-next {
                            right: 5%;
                            background-image: url(../images/arrow-r.png);;
                            &:before {
                                content: "";
                           
                                
                            }
                        }
                        &.slick-prev {
                            left: auto;
                            right: 10%;
                            background-image: url(../images/arrow-l.png);;
                            &:before {
                                content: "";
                                
                            }
                            @media screen and (max-width: $break-small) {
                                right: 25%;
                           }
                        }
                        &:hover{
                            box-shadow: none;
                        }
                    }
                }
            }
        }   
       
    }
}
.contact-wrapper{
    
    @include title;
    .contact-form{
     border: 1px solid #ddd;
        background-color: white;
        padding: 20px;
     

        p{
            margin-bottom: 0;
        }
    }
    .contact-sidebar{
        .contact-widget{
            padding:10px 20px;
         border: 1px solid #ddd;
         
            margin-bottom: 20px;
            ul{
                margin-left: 0;
                li{
                    line-height: 3;
                    i{
                        color: $primary-color;
                        font-size: 20px;

                    }
                    span{
                        margin-left: 15px;
                        font-weight: 500;
                    }
                }
            }
        }
        .ic-social{
         border: 1px solid #ddd;
            padding: 20px;
            
            ul{
                li{
                    padding-right: 0;
                    display: inline-block;
                    a{
                        color: white;
                        border-radius: 50%;
                        display: inline-block;
                        margin: 5px;
                        width: 35px;
                        height: 35px;
                        line-height: 35px;
                        text-align: center;
                        &.facebook-icon{
                            background-color: $facebook-color;

                        }
                        &.twitter-icon{
                            background-color: $twitter-color;
                        }
                        &.youtube-icon{
                            background-color: $youtube-color;
                        }
                        &.instagram-icon{
                            background: $instagram-color;
                        }
                    }
                }
            }
        }
    }
}
footer{
    background-color: $secondary-color;
    .footer-widgets{
        .footer-menu{
            text-align:center;
            padding-bottom: 20px;
            border-bottom: 1px solid #ddd;
            ul{
                li{
                    display: inline-block;
                    padding: 15px;
                    a{
                        color:#000;
                        font-weight: 600;
                        display: block;
                    }
                }
            }
        }
        .copyright{
            padding: 10px;
            text-align:center;
            p{
                color: #b2b0b0;
            }
        }
        .social-menu{
            text-align:center;
            ul{
                li{
                    display: inline-block;
                    padding: 15px;
                    a{
                        color: #b2b0b0;
                        .fa{
                            color: #b2b0b0;
                        }
                    }
                }
            }
        }
    }
}