$primary-color:#1b453b;
$secondary-color:#52e8c4cc;
$hover-color: #353c50;
$entry-color:#252525;
$text-color:#353c50;
$font-primary: 'Montserrat', sans-serif;
$font-title:'Merriweather', serif;
$abril-font: 'Abril Fatface', cursive;

$twitter-color:#00acee;
$facebook-color:#4267B2;
$instagram-color:linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
$youtube-color:#FF0000;
$google-color:#db4a39;
$footer-color:#f5f5f5;
$break-small:767px;
$break-medium: 990px;
$break-normal:1299px;
.white-text {
    color: #fff;
}

.footer--dark {
    background-color: $footer-color;
}

.entry-style {
    color: $entry-color;
    text-transform: uppercase;

    span {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        color: #83858F;

        a {
            color: $primary-color;
        }
    }
}

// @mixin inputwithbutton {
//     form {
//         position: relative;

//         span {
//             input[type=text] {
//                 width: 100%;
//                 display: inline-block;
//                 margin-bottom: 0;
//                 border-radius: 35px;
//                 position: relative;
//             }

//             input[type=submit] {
//                 top: 0;
//                 float: right;
//                 margin-bottom: 0;
//                 position: absolute;
//                 right: 0;
//                 width: 30%;
//             }
//         }
//     }

// }

@mixin title {
    .section-title {
        margin-bottom: 30px;

        h1 {
            font-weight: 200;
            font-size: 40px;
            color: $text-color;
            font-family: $font-title;
        }

        h2 {
            color: #081528;
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        h4 {
            color: #081528;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 5px;
            text-transform: capitalize;
            margin-bottom: 10px;
            -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
        }

        h3 {
            color: $primary-color;
            text-transform: capitalize;
            font-weight: 400;
            margin-bottom: 10px;
        }

    }
}

@mixin catagories {
    
    .investment-news {
        .news-text {
            .catagories {
                background-color: $facebook-color;
    
                &:after {
                    background-color: $facebook-color;
                }
            }
        }
    }
    
    .cash-news {
        .news-text {
            .catagories {
                background-color: $secondary-color;
    
                &:after {
    
                    background-color: $secondary-color;
                }
            }
        }
    }
    
    .business-news {
        .news-text {
            .catagories {
                background-color: $instagram-color;
    
                &:after {
    
                    background-color: $instagram-color;
                }
            }
        }
    }
}

// @mixin title-footer {
//     .footer-title {
//         position: relative;

//         h3 {
//             display: inline-block;
//             position: relative;

//             &:after {
//                 content: "";
//                 position: absolute;
//                 width: 60px;
//                 height: 4px;
//                 right: 0;
//                 bottom: -20%;
//                 background-color: $secondary-color;
//             }
//         }
//     }
// }

// @mixin icons {
//     width: 20%;
//     padding-bottom: 20%;
//     margin: 0 auto;
// }

// @mixin responsivescroll {
//     max-width: 100%;
//     display: inline-flex;
//     vertical-align: top;
//     overflow-x: scroll;
// }
@mixin entrycontainer {
    margin-bottom: 20px;
				
    span{
        position: relative;
        padding-left: 20px;
        &.author {
            font-size: 12px;
            color: #818181;
            font-weight: 800;
            margin-right: 20px;
            &:before{
                content: "\f044";
                position: absolute;
                font-family: fontawesome;
                left: 0;
                color:#08c299;
            }
        }
        &.date {
            font-size: 12px;
            color: #818181;
            font-weight: 400;            
            
            &:before{
                content: "\f073";
                position: absolute;
                font-family: fontawesome;
                left: 0;
                color:$secondary-color;
            }
        }
    }
}
@mixin responsivescroll {
    max-width: 100%;
    display: inline-flex;
    vertical-align: top;
    overflow-x: scroll;
}
@mixin title{
    .section-content{
        @media screen and (max-width: $break-small) {
            padding: 0px 5px;
            margin-bottom: 20px;
        }
        .section-title{
            position: relative;
            z-index: 9;
           text-align: center;
           margin-bottom: 30px;
            h2{
                font-size: 50px;
                color: $text-color;
                position: relative;
                display: inline-block;
                &:after{
                    content: "";
                    position: absolute;
                    width:50px;
                    height: 2px;
                    background-color: $primary-color;
                    right: 0;
                    bottom: 0;
                }
                @media screen and (max-width: $break-small) {
                    font-size: 24px;
                }
            }
           
        }
        p{
            font-size: 16px;
        }
        &.title-reversed{
            .section-title{
                h5{
                    text-shadow: none;
                }
                h2{
                    color: white;
                    &:after{
                        
                        background-color: white;
                        
                    }
                }
            }
          p{
              color: white;
          }
        }
        
    }
   
}
// @mixin page-banner {
//     background-size: cover;
//     align-items: flex-end;
//     .inner-title{
//         position: relative;
//         h2{
//             color: white;
//             font-size: 60px;
//             font-weight: 200;
//         }
//     }
// }