.white-text {
  color: #fff;
}

.footer--dark {
  background-color: #f5f5f5;
}

.entry-style {
  color: #252525;
  text-transform: uppercase;
}

.entry-style span {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #83858F;
}

.entry-style span a {
  color: #1b453b;
}

html {
  font-family: "Montserrat", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

section {
  padding: 60px 0px 60px;
}

footer {
  padding: 30px 0px;
}

.page-content {
  padding: 30px 0px 0px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

svg {
  width: 16px;
  height: 15px;
  vertical-align: middle;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  /*border: 1px solid #c0c0c0;*/
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

tr {
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
}

table caption {
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
}

table th a {
  color: #000;
}

/*--------------------------------------------------------------
 Typography
--------------------------------------------------------------*/
button,
input,
select,
textarea {
  color: #666;
  font-size: 14px;
  height: 46px;
  border: 1px solid #E3E4E8;
  background-color: #fff;
  width: 100%;
  margin-bottom: 24px;
  padding: 0 12px;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  line-height: 1.6;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  color: #000;
  font-weight: 600;
  line-height: 1.4;
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  margin: 0 0 15px 0;
  font-family: "Montserrat", sans-serif;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0;
  padding: 30px 5px 5px 0px;
}

blockquote p {
  margin: 0 0 1em;
  font-style: italic;
}

blockquote, q {
  quotes: "" "";
  position: relative;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #f7f7f7;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/*--------------------------------------------------------------
 Elements
--------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  word-wrap: break-word;
}

hr {
  background-color: #ddd;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

ul,
ol {
  margin: 0 0 0.5em 1em;
  padding: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: 100%;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
  vertical-align: middle;
  width: 100%;
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #e5e5e5;
}

td,
th {
  padding: 5px 10px;
}

/*--------------------------------------------------------------
#Forms
--------------------------------------------------------------*/
/*button, a.button, input[type="button"], input[type="reset"], input[type="submit"] {
display: inline-block;
font-size: 16px;
margin: 10px;
padding: 10px 30px;
color: #ffffff;
border-radius: 0px;
background:#246A55;
border: none;
}*/
a.button {
  min-width: 150px;
}

/*button:hover,
a.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
background:transparent;
border: 1px solid #ffc341;
color: white;
}*/
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="number"] {
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
textarea,
select {
  color: #666;
  border: 1px solid #ddd;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"],
input[type="date"],
input[type="time"],
textarea:focus {
  color: #111;
  outline: none;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="email"],
input[type="url"],
input[type="varchar"],
input[type="password"],
input[type="search"],
input[type="number"] {
  padding: 10px 0 10px 15px;
}

input[type="search"] {
  padding: 12px 0px 8px 15px;
}

select {
  width: 100%;
  padding: 5px;
}

textarea {
  padding: 10px;
  width: 100%;
}

.form-submit input#submit {
  margin: 20px 0 10px 0;
}

.form-submit {
  text-align: center;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.4;
  font-family: 'Poppins', sans-serif;
  color: #353c50;
}

/*input[type="submit"] {*/
/*width: 100%;*/
/*}*/
/*--------------------------------------------------------------
#. Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#.#. Links
--------------------------------------------------------------*/
a {
  color: #000;
  outline: none;
  text-decoration: underline;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #1b453b;
  text-decoration: none;
  outline: inherit;
}

a:active {
  outline: 0;
  color: #1b453b;
  text-decoration: none;
  outline: 0;
}

a:focus {
  color: #1b453b;
  text-decoration: none;
  outline: inherit;
}

a.more-link {
  margin-top: 10px;
  display: inline-block;
  padding: 7px 13px;
  background: #08c299;
  color: #fff;
  position: relative;
  z-index: 0;
  font-size: 16px;
  font-weight: 500;
}

a.more-link:hover {
  background: #000;
}

/*----reset---*/
.clear {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.clearfix:before {
  clear: both;
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
  clear: both;
}

.container::before {
  display: table;
  content: "";
}

.container::after {
  display: table;
  content: "";
  clear: both;
}

.section-content {
  padding: 0px 15px;
}

p {
  font-family: "Montserrat", sans-serif;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-apdpearance: none;
}

input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background-color: transparent;
}

input[type="date"]:focus {
  color: white;
  background-color: transparent;
}

input[type="date"]:hover {
  color: white;
  background-color: transparent;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.no-padding {
  padding: 0;
}

/*image*/
.item-image-holder {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 80%;
  margin-bottom: 20px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.item-image-holder img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bg-light {
  background: #f3f3f3 !important;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .d-flex {
    display: block;
  }
}

.item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column-reverse {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.site-header,
.header-content {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: transparent;
}

.fixed {
  position: fixed;
}

.cs-btn {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 14px;
  /* padding-right: 56px; */
  border-color: #1b453b;
  border-style: solid;
  background-color: #1b453b;
  border-width: 2px;
  margin: 0px;
  border-radius: 50px;
  padding: 0px 25px;
  color: white;
  text-decoration: none;
  white-space: normal;
  width: 176px;
  height: 50px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  -webkit-filter: blur(0px) grayscale(0%) brightness(100%);
          filter: blur(0px) grayscale(0%) brightness(100%);
  opacity: 1;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-transform-origin: 50% 50% 0px;
          transform-origin: 50% 50% 0px;
}

.cs-btn:hover {
  background-color: #353c50;
  color: white;
  border: 1px solid #353c50;
}

.cs-btn.reverse-button {
  color: #1b453b;
  background-color: white;
  border: 1px solid #1b453b;
}

.cs-btn.reverse-button:hover {
  background-color: #1b453b;
  color: white;
  border: 1px solid #1b453b;
}

a.ab-button {
  color: #505050;
}

.black-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1b453b;
  opacity: 0.5;
}

.no-padding {
  padding: 0 !important;
}

@media screen and (max-width: 767px) {
  .mb-scroll-container {
    min-width: 280px;
    display: inline-block;
    vertical-align: top;
  }
}

.one-third {
  width: 30%;
  float: left;
  margin: 0px 10px;
}

@media screen and (max-width: 767px) {
  .one-third {
    width: 100%;
    float: none;
  }
}

.megamenu-background {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.style-rounded {
  border-radius: 5px;
}

.style-shadow {
  -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}

.site-header {
  padding-top: 50px;
  padding-bottom: 30px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.site-header .site-branding #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-header .site-branding #logo .custom-logo-link {
  float: left;
  width: 50%;
  padding: 0px 10px 20px;
  margin-right: 50px;
}

.site-header .site-branding #logo .custom-logo-link img {
  -o-object-fit: contain;
     object-fit: contain;
}

.site-header .site-branding #logo .custom-logo-link h2 {
  text-transform: capitalize;
  font-size: 24px;
  margin-bottom: 0;
}

.site-header .site-branding #logo .head-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.site-header .site-branding #logo .head-call .fas {
  float: left;
  font-size: 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  text-align: center;
  color: white;
}

.site-header .site-branding #logo .head-call .call-num {
  padding: 0px 5px;
}

.site-header .site-branding #logo .head-call .call-num span {
  display: block;
  line-height: 1;
}

.site-header .site-branding #logo .head-call .call-num a {
  color: #353c50;
  line-height: 1;
  font-size: 16px;
  font-weight: 800;
  line-height: 26px;
  line-height: 1.625em;
}

.site-header .site-branding #logo .head-call::after {
  content: "";
  width: 40px;
  position: absolute;
  height: 40px;
  background: #1b453b;
  border-radius: 50%;
  z-index: -1;
  top: -5%;
  left: -25%;
}

.site-header .site-header-menu {
  z-index: 9999;
  width: 100%;
  margin-top: 0;
  top: 0;
  text-align: right;
}

.site-header .site-header-menu .main-navigation {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .site-header .site-header-menu .main-navigation {
    display: none;
  }
}

.site-header .site-header-menu .main-navigation ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

.site-header .site-header-menu .main-navigation ul ul {
  display: block;
  margin: 0;
  min-width: 220px;
  top: 80px;
  opacity: 0;
  float: left;
  position: absolute;
  right: -999em;
  z-index: 99999;
}

.site-header .site-header-menu .main-navigation ul ul ul {
  right: 100%;
  top: 0;
  left: inherit;
}

.site-header .site-header-menu .main-navigation ul ul ul::after {
  content: none;
}

.site-header .site-header-menu .main-navigation ul ul ul ul {
  display: none;
}

.site-header .site-header-menu .main-navigation ul ul ul li:hover > ul {
  display: block;
}

.site-header .site-header-menu .main-navigation ul ul li:hover > ul {
  right: 100%;
}

.site-header .site-header-menu .main-navigation ul ul li:last-child > a {
  border: none;
}

.site-header .site-header-menu .main-navigation ul ul::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  z-index: 9999;
  right: 32px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 12px;
  width: 12px;
}

.site-header .site-header-menu .main-navigation ul ul a {
  border-bottom: 1px solid #398bb9;
  -webkit-transition: padding 0.2s ease-in-out 0s;
  transition: padding 0.2s ease-in-out 0s;
  color: #fff;
  height: auto;
  padding: 10px 15px 10px 30px;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
}

.site-header .site-header-menu .main-navigation ul > li:hover > ul {
  right: 0;
  z-index: 9999;
  opacity: 1;
  display: block;
  -webkit-animation: fadeInUp 0.3s ease-in;
  animation: fadeInUp 0.3s ease-in;
}

.site-header .site-header-menu .main-navigation ul li {
  float: revert;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-bottom: 2px solid transparent;
  position: relative;
}

.site-header .site-header-menu .main-navigation ul li:hover {
  border-bottom: 2px solid #353c50;
}

.site-header .site-header-menu .main-navigation ul li a {
  color: #000;
  display: block;
  font-size: 14px;
  padding: 10px 10px;
  z-index: 99;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  webkit-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.site-header .site-header-menu .main-navigation ul li li.menu-item-has-children > a::after {
  content: "\f104";
  top: 10px;
  left: 10px;
  margin-right: 10px;
  float: left;
  right: inherit;
  margin-left: 0;
}

.site-header .site-header-menu .main-navigation ul li.page_item_has_children > a {
  padding-right: 30px;
}

.site-header .site-header-menu .main-navigation ul li.menu-item-has-childrenv > a {
  padding-right: 30px;
}

.site-header .site-header-menu .main-navigation li {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  float: left;
}

.site-header .site-header-menu .main-navigation li li {
  float: none;
  display: block;
}

.site-header .site-header-menu .main-navigation li li > a:hover::before {
  display: none;
}

.site-header .site-header-menu .main-navigation li li:hover > a::before {
  display: none;
}

.site-header .site-header-menu .main-navigation li > a:hover {
  color: #353c50;
}

.site-header .site-header-menu .main-navigation li:hover > a {
  color: #353c50;
}

.site-header .site-header-menu .main-navigation li ul.sub-menu li a {
  opacity: 0.6;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.site-header .site-header-menu .main-navigation li ul.sub-menu li:hover > a {
  color: whitesmoke;
  opacity: 1;
}

.site-header .site-header-menu .main-navigation li li.current-menu-item > a::before {
  display: none;
}

.site-header .site-header-menu .main-navigation li.current-menu-item > a {
  color: #353c50;
}

.site-header .site-header-menu .main-navigation li.current_page_item > a {
  color: #353c50;
}

.site-header .site-header-menu .main-navigation li.current_page_item > a::before {
  display: none;
}

.site-header .site-header-menu .main-navigation .menu-toggle {
  display: none;
}

.site-header .site-header-menu .main-navigation .dropdown-toggle {
  display: block;
  position: absolute;
  right: -5px;
  top: 0;
  padding: 0;
}

.site-header .site-header-menu .main-navigation .dropdown-toggle i {
  color: #000;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .search-content {
    display: none;
  }
}

.search-content .search-icon button {
  display: inline-block;
  background-color: transparent;
  border: none;
  width: 20%;
  float: right;
}

.search-content .search-icon button .fa {
  font-size: 20px;
}

.search-content .search-icon button:focus {
  border: none;
  outline-color: transparent;
  border: none;
  outline-color: transparent;
  outline: none;
  border: 0;
}

.search-content .search-icon button:active {
  border: none;
  outline-color: transparent;
  outline: none;
  border: 0;
}

.modal-backdrop.fade {
  z-index: 99;
}

.no-display {
  display: none;
}

#breadcrumb-list {
  position: relative;
  z-index: 1;
}

.news-breadcrumb-holder {
  text-align: left;
  padding: 20px 0px;
}

.news-breadcrumb-holder .breadcrumbs ul {
  margin-left: 0px;
}

.breadcrumb-trail.breadcrumbs ul li {
  display: inline-block;
  color: white;
  font-size: 20px;
}

.breadcrumb-trail.breadcrumbs ul li a {
  color: #52e8c4cc;
  padding-right: 5px;
  font-weight: bold;
}

.breadcrumb-trail.breadcrumbs ul li a:after {
  content: "\f054 ";
  padding-left: 5px;
  font-family: fontawesome;
  font-weight: bold;
  color: #52e8c4cc;
}

.breadcrumb-trail.breadcrumbs ul .trail-end {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  padding: 10px 0;
  z-index: 1000;
  min-width: 200px;
  width: 100%;
  padding: 20px;
  text-align: left;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  display: none;
  background-color: white;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.sub-menu.active {
  position: relative;
  display: block;
  opacity: 1;
  visibility: visible;
  -webkit-box-shadow: none;
          box-shadow: none;
  top: 0;
}

.entry-container a {
  display: inline-block;
  color: #1b453b;
  padding: 0;
}

.menu-item-has-children:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  display: block;
}

.menu-item-has-children .dropdown-toggle {
  width: auto;
  color: white;
  background-color: transparent;
  border: none;
}

.page-header {
  border-bottom: 0;
}

#mobile-nav-toggle {
  position: fixed;
  right: 0px;
  z-index: 9998;
  top: 15%;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#mobile-nav-toggle.cross {
  top: 0%;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media only screen and (max-width: 767px) {
  #mobile-nav-toggle {
    -webkit-box-shadow: 2px 2px 10px 2px #ddd;
            box-shadow: 2px 2px 10px 2px #ddd;
    width: 100px;
    background-color: white;
  }
}

@media (max-width: 960px) {
  #mobile-nav-toggle {
    display: inline-block;
    left: 0;
  }
  .mobile-nav-active #mobile-nav-toggle {
    left: 50%;
  }
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 9997;
  background: #fff;
  left: -260px;
  width: 260px;
  overflow-y: auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #000;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 400;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #129dbc;
}

#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}

#mobile-nav ul .menu-item-active {
  color: #fff;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: #e8e8e8b3;
  display: none;
}

.mobile-nav-active #mobile-nav {
  left: 0;
}

.banner-wrap {
  height: 90vh;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .banner-wrap {
    height: 100vh;
    padding-top: 150px;
    margin-bottom: 100px;
  }
}

.banner-wrap .home-slick-slider {
  height: 100%;
}

.banner-wrap .home-slick-slider .banner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

@media screen and (max-width: 767px) {
  .banner-wrap .home-slick-slider .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.banner-wrap .home-slick-slider .banner .banner-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 100px 30px 40px;
  -webkit-animation: fadeOut 0.2s;
          animation: fadeOut 0.2s;
}

@media screen and (max-width: 767px) {
  .banner-wrap .home-slick-slider .banner .banner-text {
    padding-top: 60px;
  }
}

.banner-wrap .home-slick-slider .banner .banner-text .banner-title h1 {
  text-shadow: -0.0375em -2px 0 #303030ad;
}

@media screen and (max-width: 767px) {
  .banner-wrap .home-slick-slider .banner .banner-text .banner-title h1 {
    font-size: 24px;
  }
}

.banner-wrap .home-slick-slider .banner .banner-text .price-button {
  font-weight: 800;
  font-size: 42px;
}

.banner-wrap .home-slick-slider .banner .banner-text .price-button .price {
  display: inline-block;
}

.banner-wrap .home-slick-slider .banner .banner-text .price-button .price span {
  font-size: 200;
  font-size: 14px;
}

.banner-wrap .home-slick-slider .banner .banner-text .price-button .fc-btn {
  float: right;
}

.banner-wrap .home-slick-slider .banner .banner-image {
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

.banner-wrap .home-slick-slider .banner .banner-image .item-image-holder {
  padding-bottom: 80%;
  width: 50%;
  margin: 0 auto;
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

@media screen and (max-width: 767px) {
  .banner-wrap .home-slick-slider .banner .banner-image .item-image-holder {
    padding-bottom: 100%;
    width: 100%;
    margin: 0 auto;
  }
}

.banner-wrap .home-slick-slider .banner.slick-active .banner-text {
  -webkit-animation: fadeInUp 0.7s linear 1;
          animation: fadeInUp 0.7s linear 1;
}

.banner-wrap .home-slick-slider .banner.slick-active .banner-image {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media screen and (max-width: 767px) {
  .banner-wrap .home-slick-slider .banner.slick-active .banner-image {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.banner-wrap .home-slick-slider .banner.banner-2 .banner-image .item-image-holder {
  padding-bottom: 60%;
  width: 80%;
}

.banner-wrap .home-slick-slider .slick-dots {
  text-align: left;
  width: auto;
  left: 20%;
  bottom: 10%;
}

@media screen and (max-width: 767px) {
  .banner-wrap .home-slick-slider .slick-dots {
    left: auto;
    right: 5%;
  }
}

.banner-wrap .home-slick-slider .slick-dots li {
  width: 50px;
}

@media screen and (max-width: 767px) {
  .banner-wrap .home-slick-slider .slick-dots li {
    display: block;
  }
}

.banner-wrap .home-slick-slider .slick-dots li button:before {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #ddd;
  position: absolute;
  opacity: 1;
  margin: 0 0;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

.banner-wrap .home-slick-slider .slick-dots li.slick-active button:before {
  background-color: #1b453b;
}

.banner-wrap:after {
  content: "";
  position: absolute;
  background-image: linear-gradient(215deg, #52e8c4cc, transparent);
  border-radius: 50%;
  top: -10%;
  width: 60%;
  height: 100%;
  right: -20%;
  z-index: -1;
  background-size: cover;
}

.cs-cat-section .cs-cat-wrap .cat-slider .cat-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #52e8c4cc;
  padding: 20px 0px;
  position: relative;
}

.cs-cat-section .cs-cat-wrap .cat-slider .cat-single .cat-img {
  width: 50%;
  position: relative;
}

.cs-cat-section .cs-cat-wrap .cat-slider .cat-single .cat-img .item-image-holder {
  width: 60%;
  padding-bottom: 80%;
  margin: 0 auto;
}

.cs-cat-section .cs-cat-wrap .cat-slider .cat-single .cat-content {
  width: 50%;
}

.cs-cat-section .cs-cat-wrap .cat-slider .cat-single .cat-content .fc-btn {
  background-color: #eff4fa;
}

.cs-cat-section .cs-cat-wrap .cat-slider .cat-single .cat-content .fc-btn:hover {
  background-color: #1b453b;
  color: white;
  font-weight: 600;
}

.cs-cat-section .cs-cat-wrap .cat-slider .cat-single .cat-price {
  position: absolute;
  width: 100px;
  height: 40px;
  top: 0;
  right: 0%;
  color: white;
  background-color: red;
  line-height: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cs-cat-section .cs-cat-wrap .cat-slider .cat-single .cat-price span {
  display: block;
  line-height: 2;
}

.cs-cat-section .cs-cat-wrap .cat-slider .cat-single:nth-child(2n) {
  background-color: #eff4fa;
}

.cs-cat-section .cs-cat-wrap .cat-slider .cat-single:nth-child(2n) .fc-btn {
  background-color: #1b453b;
}

.cs-cat-section .cs-cat-wrap .cat-slider .cat-single:nth-child(2n) .fc-btn:hover {
  background-color: #eff4fa;
  color: #1b453b;
  font-weight: 600;
}

.cs-cat-section .cs-cat-wrap .cat-slider .slick-dots {
  text-align: left;
  width: auto;
  left: 40%;
  bottom: -15%;
}

@media screen and (max-width: 767px) {
  .cs-cat-section .cs-cat-wrap .cat-slider .slick-dots {
    left: auto;
    right: 5%;
  }
}

.cs-cat-section .cs-cat-wrap .cat-slider .slick-dots li {
  width: 50px;
}

@media screen and (max-width: 767px) {
  .cs-cat-section .cs-cat-wrap .cat-slider .slick-dots li {
    display: block;
  }
}

.cs-cat-section .cs-cat-wrap .cat-slider .slick-dots li button:before {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #ddd;
  position: absolute;
  opacity: 1;
  margin: 0 0;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

.cs-cat-section .cs-cat-wrap .cat-slider .slick-dots li.slick-active button:before {
  background-color: #1b453b;
}

@media screen and (max-width: 767px) {
  .cat-section .section-content {
    padding: 0px 5px;
    margin-bottom: 20px;
  }
}

.cat-section .section-content .section-title {
  position: relative;
  z-index: 9;
  text-align: center;
  margin-bottom: 30px;
}

.cat-section .section-content .section-title h2 {
  font-size: 50px;
  color: #353c50;
  position: relative;
  display: inline-block;
}

.cat-section .section-content .section-title h2:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #1b453b;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .cat-section .section-content .section-title h2 {
    font-size: 24px;
  }
}

.cat-section .section-content p {
  font-size: 16px;
}

.cat-section .section-content.title-reversed .section-title h5 {
  text-shadow: none;
}

.cat-section .section-content.title-reversed .section-title h2 {
  color: white;
}

.cat-section .section-content.title-reversed .section-title h2:after {
  background-color: white;
}

.cat-section .section-content.title-reversed p {
  color: white;
}

.cat-section .cat-wrap {
  width: 85%;
  margin: 0 auto;
}

.cat-section .cat-wrap .cat-single {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 2px 2px 10px 2px #ddd;
          box-shadow: 2px 2px 10px 2px #ddd;
  padding: 20px;
  overflow: hidden;
}

.cat-section .cat-wrap .cat-single .item-image-holder {
  padding-bottom: 80%;
  background-color: white;
  width: 60%;
  margin: 0 auto;
}

.cat-section .cat-wrap .cat-single::after {
  content: "";
}

.cat-section .cat-wrap .cat-single .cat-name {
  position: relative;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 85%;
  width: 100%;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  text-align: center;
  padding: 15px;
}

.cat-section .cat-wrap .cat-single .cat-name h3 {
  color: white;
}

.cat-section .cat-wrap .cat-single:hover .cat-name {
  top: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.9;
}

@media screen and (max-width: 767px) {
  .about-section .section-content {
    padding: 0px 5px;
    margin-bottom: 20px;
  }
}

.about-section .section-content .section-title {
  position: relative;
  z-index: 9;
  text-align: center;
  margin-bottom: 30px;
}

.about-section .section-content .section-title h2 {
  font-size: 50px;
  color: #353c50;
  position: relative;
  display: inline-block;
}

.about-section .section-content .section-title h2:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #1b453b;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .about-section .section-content .section-title h2 {
    font-size: 24px;
  }
}

.about-section .section-content p {
  font-size: 16px;
}

.about-section .section-content.title-reversed .section-title h5 {
  text-shadow: none;
}

.about-section .section-content.title-reversed .section-title h2 {
  color: white;
}

.about-section .section-content.title-reversed .section-title h2:after {
  background-color: white;
}

.about-section .section-content.title-reversed p {
  color: white;
}

.about-section .about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
  .about-section .about-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.about-section .about-wrap .item-image-holder {
  padding-bottom: 100%;
  overflow: visible;
  -webkit-box-shadow: 2px 2px 10px 2px #ddd;
          box-shadow: 2px 2px 10px 2px #ddd;
  background-color: white;
}

.about-section .about-wrap .about-content {
  background-color: white;
  padding: 20px;
}

.testimonial-section {
  background-color: #52e8c4cc;
}

@media screen and (max-width: 767px) {
  .testimonial-section .testimonial-wrap .section-content {
    padding: 0px 5px;
    margin-bottom: 20px;
  }
}

.testimonial-section .testimonial-wrap .section-content .section-title {
  position: relative;
  z-index: 9;
  text-align: center;
  margin-bottom: 30px;
}

.testimonial-section .testimonial-wrap .section-content .section-title h2 {
  font-size: 50px;
  color: #353c50;
  position: relative;
  display: inline-block;
}

.testimonial-section .testimonial-wrap .section-content .section-title h2:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #1b453b;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .testimonial-section .testimonial-wrap .section-content .section-title h2 {
    font-size: 24px;
  }
}

.testimonial-section .testimonial-wrap .section-content p {
  font-size: 16px;
}

.testimonial-section .testimonial-wrap .section-content.title-reversed .section-title h5 {
  text-shadow: none;
}

.testimonial-section .testimonial-wrap .section-content.title-reversed .section-title h2 {
  color: white;
}

.testimonial-section .testimonial-wrap .section-content.title-reversed .section-title h2:after {
  background-color: white;
}

.testimonial-section .testimonial-wrap .section-content.title-reversed p {
  color: white;
}

.testimonial-section .testimonial-wrap .section-content .client-slider .client-single {
  padding: 10px;
  margin-top: 30px;
}

.testimonial-section .testimonial-wrap .section-content .client-slider .client-single .client-content {
  padding: 30px;
  background-color: white;
}

.testimonial-section .testimonial-wrap .section-content .client-slider .client-single .client-content .entry-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial-section .testimonial-wrap .section-content .client-slider .client-single .client-content .entry-container .client-image {
  width: 10%;
  border-radius: 50%;
}

.testimonial-section .testimonial-wrap .section-content .client-slider .client-single .client-content .entry-container .client-image .item-image-holder {
  padding-bottom: 100%;
  border-radius: 50%;
}

.testimonial-section .testimonial-wrap .section-content .client-slider .client-single .client-content .entry-container .client-details {
  margin-left: 20px;
}

.testimonial-section .testimonial-wrap .section-content .client-slider .client-single .client-content .entry-container .client-details h3 {
  margin-bottom: 5px;
  font-size: 22px;
}

.testimonial-section .testimonial-wrap .section-content .client-slider .client-single .client-content .entry-container .client-details .rating ul {
  margin-left: 0;
}

.testimonial-section .testimonial-wrap .section-content .client-slider .client-single .client-content .entry-container .client-details .rating ul li {
  display: inline-block;
}

.testimonial-section .testimonial-wrap .section-content .client-slider .client-single .client-content .entry-container .client-details .rating ul li .fa {
  color: #f9d22f;
}

.testimonial-section .testimonial-wrap .section-content .client-slider .client-single:focus {
  outline: none;
}

.testimonial-section .testimonial-wrap .section-content .client-slider .client-single:active {
  outline: none;
}

.testimonial-section .testimonial-wrap .section-content .client-slider button.slick-arrow {
  top: 0%;
  z-index: 999;
  width: 45px;
  height: 45px;
  -webkit-box-shadow: 2px 2px 10px 2px #ddd;
          box-shadow: 2px 2px 10px 2px #ddd;
  background-color: white;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 50%;
}

.testimonial-section .testimonial-wrap .section-content .client-slider button.slick-arrow.slick-next {
  right: 5%;
  background-image: url(../images/arrow-r.png);
}

.testimonial-section .testimonial-wrap .section-content .client-slider button.slick-arrow.slick-next:before {
  content: "";
}

.testimonial-section .testimonial-wrap .section-content .client-slider button.slick-arrow.slick-prev {
  left: auto;
  right: 10%;
  background-image: url(../images/arrow-l.png);
}

.testimonial-section .testimonial-wrap .section-content .client-slider button.slick-arrow.slick-prev:before {
  content: "";
}

@media screen and (max-width: 767px) {
  .testimonial-section .testimonial-wrap .section-content .client-slider button.slick-arrow.slick-prev {
    right: 25%;
  }
}

.testimonial-section .testimonial-wrap .section-content .client-slider button.slick-arrow:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 767px) {
  .contact-wrapper .section-content {
    padding: 0px 5px;
    margin-bottom: 20px;
  }
}

.contact-wrapper .section-content .section-title {
  position: relative;
  z-index: 9;
  text-align: center;
  margin-bottom: 30px;
}

.contact-wrapper .section-content .section-title h2 {
  font-size: 50px;
  color: #353c50;
  position: relative;
  display: inline-block;
}

.contact-wrapper .section-content .section-title h2:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #1b453b;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .contact-wrapper .section-content .section-title h2 {
    font-size: 24px;
  }
}

.contact-wrapper .section-content p {
  font-size: 16px;
}

.contact-wrapper .section-content.title-reversed .section-title h5 {
  text-shadow: none;
}

.contact-wrapper .section-content.title-reversed .section-title h2 {
  color: white;
}

.contact-wrapper .section-content.title-reversed .section-title h2:after {
  background-color: white;
}

.contact-wrapper .section-content.title-reversed p {
  color: white;
}

.contact-wrapper .contact-form {
  border: 1px solid #ddd;
  background-color: white;
  padding: 20px;
}

.contact-wrapper .contact-form p {
  margin-bottom: 0;
}

.contact-wrapper .contact-sidebar .contact-widget {
  padding: 10px 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.contact-wrapper .contact-sidebar .contact-widget ul {
  margin-left: 0;
}

.contact-wrapper .contact-sidebar .contact-widget ul li {
  line-height: 3;
}

.contact-wrapper .contact-sidebar .contact-widget ul li i {
  color: #1b453b;
  font-size: 20px;
}

.contact-wrapper .contact-sidebar .contact-widget ul li span {
  margin-left: 15px;
  font-weight: 500;
}

.contact-wrapper .contact-sidebar .ic-social {
  border: 1px solid #ddd;
  padding: 20px;
}

.contact-wrapper .contact-sidebar .ic-social ul li {
  padding-right: 0;
  display: inline-block;
}

.contact-wrapper .contact-sidebar .ic-social ul li a {
  color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.contact-wrapper .contact-sidebar .ic-social ul li a.facebook-icon {
  background-color: #4267B2;
}

.contact-wrapper .contact-sidebar .ic-social ul li a.twitter-icon {
  background-color: #00acee;
}

.contact-wrapper .contact-sidebar .ic-social ul li a.youtube-icon {
  background-color: #FF0000;
}

.contact-wrapper .contact-sidebar .ic-social ul li a.instagram-icon {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

footer {
  background-color: #52e8c4cc;
}

footer .footer-widgets .footer-menu {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

footer .footer-widgets .footer-menu ul li {
  display: inline-block;
  padding: 15px;
}

footer .footer-widgets .footer-menu ul li a {
  color: #000;
  font-weight: 600;
  display: block;
}

footer .footer-widgets .copyright {
  padding: 10px;
  text-align: center;
}

footer .footer-widgets .copyright p {
  color: #b2b0b0;
}

footer .footer-widgets .social-menu {
  text-align: center;
}

footer .footer-widgets .social-menu ul li {
  display: inline-block;
  padding: 15px;
}

footer .footer-widgets .social-menu ul li a {
  color: #b2b0b0;
}

footer .footer-widgets .social-menu ul li a .fa {
  color: #b2b0b0;
}
/*# sourceMappingURL=main.css.map */